@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet');

html,
body {
    height: 100%;
}
.footer {
    text-align: center;
    border: 1px;
    font-size: xx-large;
}